name: Fibonacci Comment on PR


on: 
  push:
    branches:
      - fib2
  pull_request:
    branches:
      - main
jobs: 
  fibonacci-comment:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Cache Cargo dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Build Rust project
      run: |
        cargo build --release

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.REPOSITORY }}
        password: ${{ secrets.TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ghcr.io/${{ secrets.REPOSITORY }}/fibbot:latest

    - name: Run Rust project
      env:
        TOKEN: ${{ secrets.TOKEN }}
        GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
        GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
        GITHUB_PULL_REQUEST_NUMBER: ${{ github.event.number }}
        INPUT_MAX_THRESHOLD: 1000
        INPUT_ENABLE_FIB: true
        RUST_BACKTRACE: full
      run: |
        cargo run --release
